.wpcf7-display-none {
  display: none;
}
.screen-reader-response {
  height: 0;
  visibility: hidden;
  margin-bottom: 0;
}
.wpcf7-not-valid-tip {
  color: #9a9a9a;
  font-size: 0.8rem;
}
.wpcf7-response-output {
  margin-top: 30px;
  padding: 10px 15px;
  max-width: 420px;
  background-color: #191919;
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 40px;
}
