.true-agency {
  position: relative;
  display: inline-block;
  overflow: hidden;
  &__link {
    display: inline-block;
    text-decoration: none !important;
  }
  &__logo {
    position: absolute;
    bottom: 0; right: 0;
    padding: 0.1em 0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition:
      transform 0.3s ease,
      opacity 0.18s linear;
  }
  &__text {
    font-size: 14px;
    font-weight: bold;
    padding: 0.4em 0;
    transform: translate3d(0, 28px, 0);
    transition: transform 0.28s ease;
  }
  &__link:hover &__logo {
    opacity: 0;
    transform: translate3d(0, -32px, 0);
  }
  &__link:hover &__text {
    transform: translate3d(0, 0, 0);
  }
  &--theme-white & {
    &__text {
      color: #fff;
    }
  }
  &--theme-dark & {
    &__text {
      color: #111;
    }
  }
}
