/**
 * ================== Table Layout ==================
 * 
 * Ever have to repeat display: table and display: table-cell over
 * and over again? Well, not anymore!
 * Simply assign these classes in.
 * 
 */
.layout-table {
    display: table; width: 100%; height:100%;

    > .cell, > .layout-table__cell {
        display: table-cell;
        vertical-align: middle;
        height:100%;
    }
}

/**
 * ================== Navbar fixed top ==================
 * 
 * By default add enough margin to main wrapper
 * when we have fixed nav
 * 
 */
header.navbar-fixed-top + .wrap {
    margin-top: $navbar-height;
}

/**
 * ================== WP Admin Bar ==================
 * 
 * When WP Admin bar present causes a lot of trouble 
 * for developers
 * 
 */
@media all and (min-width: $screen-md-min) {
    body.admin-bar .navbar-fixed-top { // Fixed navbar adjusted properly
        top: 32px;
    }
}
@media (max-width: $screen-sm-max) { // Hide WP Admin bar on tablet
    body.admin-bar {
        margin-top: -46px;
    }
    #wpadminbar {
        display: none;
    }
}

