$icomoon-font-path: "fonts" !default;

$icon-cross: "\e915";
$icon-all-categories: "\e900";
$icon-arrow-back-to-top: "\e901";
$icon-Capabilities: "\e902";
$icon-Careers: "\e903";
$icon-community: "\e904";
$icon-download: "\e905";
$icon-events: "\e906";
$icon-graduate-program: "\e907";
$icon-insights: "\e908";
$icon-linkedin: "\e909";
$icon-mail: "\e90a";
$icon-mapicon: "\e90b";
$icon-mobile: "\e90c";
$icon-nav-arrow-down: "\e90d";
$icon-phone: "\e90e";
$icon-Projects: "\e90f";
$icon-right-arrow: "\e910";
$icon-search: "\e911";
$icon-slider-arrow-left: "\e912";
$icon-slider-arrow-right: "\e913";
$icon-technology: "\e914";

