/*!
 * Built on the second floor of 115-117 Chapel Street
 *
 * @author TrueAgency
 */

/**
 * ================== Imports ==================
 */

@import "variables";
@import "overrides";
@import "../vendor/font-awesome/scss/font-awesome";
@import "../icomoon/style.scss";

/**
 * Include bootstrap files
 */
@import "bootstrap";

@import "core";
@import "mixins";
@import "util/shadows";
@import "util/float";
@import "util/animation";

/**
 * ================== Components ==================
 *
 * Partials, modularised and/or reusable LESS files.
 * e.g. components/footer, components/header
 * 
 */
@import "hamburgers/hamburgers";
@import "components/all";
@import "ui/all";
 
/**
 * ================== Pages ==================
 *
 * Page specific LESS files. Where it doesnt
 * fit as components, pages is the place to go.
 * 
 */
@import "pages/404";

//
// @todo REFACTOR ME
//

.home-top {
    height: 100vh;
    width: 100%;
    background-color: #333;
    &__bg {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.box-bordered {
    margin-bottom: $grid-gutter-width;
    &--berri {
        height: 622px;
        background-color: #FB9819;
    }
    &--honda {
        height: 344px;
        background-color: #073455;
    }
    &--groupee {
        height: 344px;
        background-color: #AD4BFF;
    }
    &--edlyn {
        height: 275px;
        background-color: #0173BC;
    }
    &--yellow {
        height: 275px;
        background-color: #F7E677;
    }
    &--chin {
        height: 275px;
        background-color: #383236;
    }
}