/**
 * Collections of useful mixins. 
 * Happy coding!
 *
 * @author TrueAgency
 */

/**
 * Attempt to fix text rendering issue
 */
@mixin text-optimize()
{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

/**
 * Set border radius
 */
@mixin borderRadius($size)
{
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius:$size;
}

/**
 * Disable select
 */
@mixin noSelect()
{
	-webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
}

/**
 * The missing transform from bootstrap mixins
 */
@mixin transform($transform) 
{
	-webkit-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin icomoon($content) {
  @extend [class*=" icon-"];
  content: $content;
}
@mixin btn-reset() {
  box-shadow: none;
  outline: none !important;
  border: 0;
}