$font-family-default: 'Arial';

// Colours
// --------------------------------------------------
$colour-red: #c53539;
$colour-green: #93c742;

$colour-blue: #1eaedd;
$colour-blue-darker: #169ac5;

$colour-primary:        #333;
$colour-primary-darker: #000;
$colour-success: $colour-green;

// Animation Timings
// --------------------------------------------------
$animation-cubic: cubic-bezier(1,.02,.21,.91);
$animation-cubic-2: cubic-bezier(0.7,0,0.3,1);
$animation-elastic: cubic-bezier(0.63, 0.62, 0.48, 1.3);