/**
 * ================== Override Contact Form 7 ==================
 * 
 */

/* Plugin Override */
div.wpcf7-response-output {
    margin: 0 0 20px;
}


div.wpcf7-mail-sent-ok {
    border: 0;
    color: $brand-success;
    margin-right: 0; margin-left: 0;
    padding-right: 0; padding-left: 0;
}

span.wpcf7-not-valid-tip {
    // padding-top: 10px;
    // padding-bottom: 20px;
    // color: $brand-danger;
}

div.wpcf7-mail-sent-ng, div.wpcf7-spam-blocked, div.wpcf7-validation-errors {
    border: 0;
    color: $brand-danger;
    margin-right: 0; margin-left: 0;
    padding-right: 0; padding-left: 0;
}

span.wpcf7-form-control-wrap { width: 100%; }

div.wpcf7 img.ajax-loader { margin-top: 20px; margin-left: 0; }