body.error404 {
    height: 100vh;
}
.fourohfour {
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translate(0, -50%);
    &__content {
        padding: 1rem;
    }
    h1 {
        font-size: 3.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        font-size: 1.6rem;
        opacity: 0.7;
        margin-bottom: 1rem;
    }
}