/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


/** Customise Bootstrap variables here */
/** Refer to https://bit.ly/2uIqqvR */ 

// Navbar

// $navbar-padding-y:                  0;
